/*-------- fonts ---------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/*-------- variables ---------*/
$main-color: #00519A; //blue
$main-hover: #f4f4f4; //gris


/* Extra small devices (phones, less than 768px) */
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .wrapper {
        padding: 0 10px !important;
        margin-right: auto;
        margin-left: auto;
    }
}

/*--------------------- Small devices (tablets, 768px and up) --------------------*/
@media (min-width: 768px) {
    .wrapper {
        width: 750px;
    }
}

/*--------------------- Medium devices (desktops, 992px and up) --------------------*/
@media (min-width: 992px) {
    .wrapper {
        width: 970px;
    }
}

/*--------------------- Large devices (large desktops, 1200px and up) ---------------*/
@media (min-width: 1200px) {
    
}

h1{
    margin: 0;
    padding: 0;
}


body {
    
  
.wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
    
header {
    font-family: 'Open Sans', sans-serif;
    border: 2px solid red;
    /*-------------------------------top-header ------------------------------------*/
    .top-header {
        background: color;
        .wrapper {
            border: 1px solid red;
            
            ul.navmenu {
                border: 1px solid blue;
                li {
                    list-style-type: none;
                    outline: 1px solid red;
                    width: 125px;
                    text-align: center;
                    position: relative; //important
                    display: inline-block;
                    margin-right: 1px;
                    a {
                        text-decoration: none;
                        display: block;
                        width: 125px;
                        height: 25px;
                        line-height: 25px;
                        background-color: #FFF;
                        border: 1px solid #CCC;
                    }
                    ul.sub1 {
                        //
                        display: none;
                        position: absolute;
                    }
                    ul.sub2 {
                        display: none;
                        position: absolute;
                        margin-left: 126px;
                        margin-top: -27px;
                    }
                    
                    &:hover a:hover {
                        background-color: yellow;
                    }
                    
                    &:hover > a {
                        background-color: green;
                    } 
                    
                }
            }
            
            /* Si fem hover en un li dintre del ul dintre de navmenu, aplica el
            estil a la ul.sub1 si te */
            ul.navmenu li:hover ul.sub1 {
                display: block;
                z-index: 1;
            }
        }
    }
    /*-------------------------------info-header------------------------------------*/
    .info-header {
        background: $main-color;
        .wrapper {
            border: 2px solid red;
        }
        
        .right a {
            float: right;
        }
        
        a { 
            color: white; 
            &:hover {
                color: #FF8C00;
            }
        }
    }
}

/*-------------------------------aside------------------------------------*/
aside {
    background-color: $main-color;
    position: fixed;
    left: 0px;
    top: 35%;
    
    a {
        padding: 5px;
        color: white;
        font-size: 50px;
        text-align: center;
        i {
            text-align: center;
        }
        &:hover {
            color: #FF8C00;
        }
    }
}
    
    .main-banner {
        width: 100%;
        height: 300px;
        background-image: url("/images/banner1.jpg");
        h1 {
            text-color: $main-color;
            text-align: center;
            padding-top: 130px !important;
            
        }
    }
        
    
    .sectores {
        border: 1px solid orange;
    }
    
    .proyectos {
        border: 1px solid red;
    }
    
    footer {
        border: 1px solid purple;
    }
    /* CSS */
    
    
    

}












// .container {
//     position: relative;
//     width: 260px;
//     margin: 10em auto;
//     padding: 0;
//     transition: transform 1s ease;
//     transform-style: preserve-3d; //important
    
//     .back-face {
//         position: absolute;
//         width: 100%;
//         margin: 0;
//         padding: 0;
//         transition: transform;
//         transform: rotateY(180deg);
//         backface-visibility: hidden;
//         color: #fff;
//         p {
//             position: relative;
//             text-align: center;
//             font-size: 13px;
//             line-height: 20px;
//             padding-top: 5px;
//             color: $grey;
//         }
//         h4 {
//              text-align: center;
//              bottom: 0;
//              margin: 5px auto;
//              width: 35%;
//              border-radius: 3px;
//              background: $btn;
//              color: #fff;
//              padding: 8px;
//              text-transform: uppercase;
//              font-weight: 500;
//              font-size: 13px;
//              box-shadow: 0px 2px 1px #000;
             
            
//              &:hover {
//                 background: $btn + 20; 
//              }
//         }
//     }
    
  
    
//     .front-face {
//         position: absolute;
//         display: table;
//         width: 100%;
//         height: 100%;
//             // border: 1px solid;
//         margin: 0;
//         padding: 0;
//         backface-visibility: hidden;
        
//         .fa {
//             font-size: 5em;
//             text-align: center;
//             display: block;
//             color: $btn;
//             text-shadow: 1px 1px 1px #000;
//         }
        
//         h4 {
//             text-align: center;
//             color: $grey;
//             margin-top: 15px;
//         }
//     }
//      &:hover {
//         transform: rotateY(180deg);
//     }
// }






